services:
  telegram-gateway:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "11000:11000"
    command: ["sh", "-c", "bun run watch"]
