services:
  telegram-gateway:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - .:/app
    environment:
      HOST: 0.0.0.0
      PORT: 11000
      TELEGRAM_BASE_URL: http://api.telegram.org
      TELEGRAM_BOT_TOKEN: TELEGRAM_BOT_TOKEN
      TIMEZONE: Asia/Jakarta
      API_KEY: ${API_KEY:-}
      # TELEGRAM_ALLOWED_METHODS: sendMessage,sendLocation
      LOG_VERBOSE: false
    ports:
      - 127.0.0.1:11000:11000
    command: ["sh", "-c", "bun install && bun run dev"]
